body {
    /*background-image: url(./imgs/rm218batch5-mynt-24.jpg);*/
      background-repeat: no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

